{% extends "base.html" %}
{% block title %}Platform Config - SITinform{% endblock %}
{% block content %}
<div class="row mb-4">
    <div class="col-12"><h2><i class="fas fa-cogs"></i> Platform Configuration</h2></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        {% for key, value in config.items() %}
                        <tr><td><strong>{{ key }}</strong></td><td>{{ value }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
